* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.profile_container {
  background-color: #7052ff;
  width: 430px;
  height: 700px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .item {
    position: relative;
    margin-top: 80px;
    // max-width: 500px;
    height: 80%;
    background-color: white;
    border-radius: 8px;
    flex-direction: column;
    padding-top: 30px;

    .info {
      // border: 1px solid red;
      text-align: center;
      margin-bottom: 10px;
      h1 {
        margin-top: 23px;
      }

      .rich_img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        top: -30px;
        left: 130px;
      }
    }
  }

  .explorer {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    div {
      background-color: #7052ff;
      height: 80px;
      width: 80px;
      color: white;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.member {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  img {
    width: 40px;
  }
  p {
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 0px;
  }

}

.popup {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0px;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px, 0px, rgba(0, 0, 0, 0.5);
  background-color:rgba(1, 0, 0.9, 0.5);

  height: 100vh;
  display: flex;

  .close {
    position: absolute;
    top: 270px;
    right: 45px;
    cursor: pointer;
  }
}

.main_cont {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 10px;
  width: 90%;
  height: 40%;

  img {
    width: 80px;
  }

  .bad_unlock {
    display: flex;
    gap: 5px;
    img {
      width: 20px;
    }
  }
}

.badges_img {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  img {
    width: 100px;
  }
}

.cross {
  display: none;
  cursor: pointer;
}

.blur {
  filter: blur(2px); /* Adjust the blur amount as needed */
}

.badg7 {
  display: flex;
  img {
    width: 20px;
  }
}


.active-tab{
  color: 7052ff;
  border-bottom: 3px solid #7052ff;
}

.profile{
  color: white;
}


